.container {
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
  background-color: white;
  border-radius: 5px;
  color: #0e4ca7;
  padding: 10px;
  width: 50%;
  font-weight: 600;
  margin: 10px;
  outline: none;
}
