/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #4478c4;
  background-image: linear-gradient(
    180deg,
    rgba(99, 231, 255, 0.5) 10%,
    rgba(255, 255, 255, 0.52)
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin: 10px;
}

#attach {
  width: 100px;
}

button,
#attach {
  padding: 10px 20px;
  outline: none;
  border-radius: 8px;
  border: none;
  background: white;
  opacity: 0.75;
  font-weight: bold;
  color: #0e4ca7;
  margin: 5px;
}

button:hover,
#attach:hover {
  opacity: 1;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffffd1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.reminders-list {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

.reminders-list .left-container {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.reminders-list .right-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 65px;
}

.reminders-list .left-container .controls {
  display: flex;
  justify-content: space-between;
}

.reminders-list .left-container .controls .reminders-search {
  width: 70%;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.reminders-list .left-container .controls .reminders-filter {
  padding: 10px 20px;
  outline: none;
  border-radius: 8px;
  border: none;
  background: white;
  opacity: 0.75;
  font-weight: bold;
  color: #0e4ca7;
}

.reminders-list .left-container .controls .reminders-filter:hover {
  opacity: 1;
  cursor: pointer;
}

.reminders-list .left-container .reminders {
  margin-top: 20px;
  max-height: 500px;
  overflow-y: auto;
}

.reminders-list .left-container .reminders .reminder,
.documents-list .documents .document {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff85;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 5px;
  color: #0e4ca7;
}

.reminders-list .left-container .reminders .reminder .reminder-info h3 {
  text-align: left;
}

.reminders-list .left-container .reminders .reminder:hover,
.documents-list .documents .document:hover {
  cursor: pointer;
  background-color: rgba(99, 229, 255, 0.5);
}

.reminders-list .right-container .category button {
  width: 100px;
}

.reminders-list .right-container .occurence button {
  width: 100px;
}

.reminders-list .right-container .occurence {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-reminder,
.documents-list {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  width: 70%;
  text-align: center;
  align-items: center;
}

.new-reminder .new-reminder-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 10px 0;
}

.new-reminder {
  font-size: 20px;
}

.new-reminder .new-reminder-form label {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.new-reminder .new-reminder-form label input,
.new-reminder .new-reminder-form label textarea,
.new-reminder .new-reminder-form label select {
  width: 70%;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
}

.new-reminder .new-reminder-form label select {
  width: 73.5%;
}

.new-reminder .action-btns,
.documents-list .action-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 69%;
}

.documents-list .action-btns {
  width: 70%;
}

.documents-list .documents {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  overflow-y: auto;
  max-height: 300px;
}


.reminders-list .left-container .reminders .reminder {
  outline: none;
}

.reminders-list .left-container .reminders .reminder .reminder-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding: 3px 10px;
}

.reminders-list .left-container .reminders .reminder .reminder-title .reminder-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}


.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container .title-label {
  font-weight: 700;
  text-decoration: none;
}


.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container .title-label.done {
  text-decoration: line-through;
}

.reminders-list .left-container .reminders .reminder .reminder-title .reminder-info .desc-label {
  margin: 5px 0;
}


/* The container */
.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container  {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container  input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container  input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container  input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container  .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.tray-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
    
/* tray styles */
.tray-container .tray-title {
  text-align: center;
  font-size: 18px;
}

.tray-container .tray-desc {
  margin: 5px;
  font-size: 15px;
  text-align: center;
}

.tray-container .reminders-list {
  width: 100%;
  justify-content: space-evenly;
}

.tray-container .reminders-list .left-container {
  width: 100%;
}

.tray-container .reminders-list .left-container .reminders {
  margin-top: 0
}


.tray-container .reminders-list .left-container .reminders .reminder {
  margin: 0;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
}


.tray-container .reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container {
  margin: 0;
  display: flex;
}


.tray-container .reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container .checkmark {
  width: 20px;
  height: 20px;
}

.tray-container .reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container .checkmark:after {
  left: 7px;
  top: 2px;
}

.tray-container .reminders-list .left-container .reminders .reminder .reminder-title .reminder-checkbox-container .title-label {
  font-size: 18px;
}

.tray-container .button {
  width: 110px;
  margin-top: 10px;
}
